dist
dist-*
cabal-dev
*.o
*.hi
*.chi
*.chs.h
*.dyn_o
*.dyn_hi
.hpc
.hsenv
.cabal-sandbox/
cabal.sandbox.config
*.prof
*.aux
*.hp
*.eventlog
.stack-work/
cabal.project.local
.HTF/
.ghc.environment.*
test.smt2
*.out
project-exe.prof.html
bzip2_constr_cleaned_200.banshee
bzip2_constr_cleaned_400.banshee
smallCheck.sc
